
<div class="container-fluid padding" id="format">
    <div class="row text-center padding">
        <div class="col-12">
           <h4 class="get">Connect</h4>
        </div>
        <div class="col-12 social padding">
            <a href="#"><i class=" fab fa-facebook"></i></a>
            <a href="#"><i class=" fab fa-twitter"></i></a>
            <a href="#"><i class=" fab fa-google-plus-g"></i></a>
            <a href="#"><i class=" fab fa-instagram"></i></a>
            <a href="#"><i class=" fab fa-youtube"></i></a>
        </div>
    </div>
</div> 
<footer>
    <div class="container-fluid padding">
        <div class="row text-center">
            <div class="col-md-4">
                <img src="/images/Core.jpg" style="height:57px; width:60px">
                <hr class="light">
                <p>0854355565</p>
                <p>pradesty@hotmail.com</p>
                <p>b3.lagos street Umuahia</p>
                <p>lagos street Umuahia, 00000</p>
            </div>
            <div class="col-md-4">
                <hr class="light">
                <h5>Our Hours</h5>
                <hr class="light">
                <p>Monday: 9am - 5am</p>
                <p>Saturday: 10am - 4pm</p>
                <p>Sunday: close</p>
            </div>
            <div class="col-md-4">
                <hr class="light">
                <h5>Our Hours</h5>
                <hr class="light">
                <p>Umuahia Abia State, 00-02-00</p>
                <p>City, State, 00-03-00</p>
                <p>City, State, 00-01-00</p>
                <p>City, State, 00-21-00</p>
            </div>
            <div class="col-12">
                <hr class="light-100">
                <h5>&copy; pradesty.com</h5>
            </div>    
        </div>
    </div>  
</footer>
