<!DOCTYPE html>
<html lang="en">
<head>  
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/bootstrapCss.css">
    <link rel="stylesheet" href="/all.css">
    <link rel="stylesheet" href="/css/materialize.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body style="overflow-x: hidden">
  {{{body}}}  

  <script src="/scripts/jquery.js"
  <script src="/scripts/bootstrapScript.js"></script>
    <script src="/js/script.js"></script>
</body>
</html>