{{> header}}
<div id="adminUpload">
    <div class="container" id="cont">
        <h4>American Ninja</h4>
        <form method="POST" action="/admin/adminEnglishPost" enctype="multipart/form-data">
            <div class="form-group">
                <label for="formGroupExampleInput">Name Of Pet</label>
                <input type="text" name="englishPetName" class="form-control" id="formGroupExampleInput" placeholder="Name Of Pet">
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput2">Price Of Pet</label>
                <input type="text" name="englishPetPrice" class="form-control" id="formGroupExampleInput2" placeholder="Price Of Pet">
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput2">Category Of Pet</label>
                <input type="text" name="englishPetCategory" class="form-control" id="formGroupExampleInput2" placeholder="Category Of Pet">
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput2">Color Of Pet</label>
                <input type="text" name="englishPetColor" class="form-control" id="formGroupExampleInput2" placeholder="Color Of Pet">
            </div>
            <div class="custom-file">
                <input type="file" name="englishPetImage" class="custom-file-input" id="customFile">
                <label class="custom-file-label" for="customFile">Choose file...</label>
            </div>
            <button type="submit" class="btn btn-primary">Upload Information</button>
        </form>
    </div>
</div>
{{> footer}}