{{> header}}
<div id="adminUpload">
    <div class="container" id="cont">
        <h4>Adopt Your German Pets</h4>
        <form method="POST" action="/admin/germanAdoption">
            <div class="form-group">
                <label for="formGroupExampleInput">Name of adoptor:</label>
                <input type="text" name="germanPetName" class="form-control" id="formGroupExampleInput" placeholder="Name Of Pet">
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput2">Pet Color:</label>
                <input type="text" name="GermanPetPrice" class="form-control" id="formGroupExampleInput2" placeholder="Price Of Pet">
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput2">Name of pet:</label>
                <input type="text" name="GermanPetPrice" class="form-control" id="formGroupExampleInput2" placeholder="Price Of Pet">
            </div>
            <div class="form-group">
            <div class="form-group">
                <label for="formGroupExampleInput2">Email of Adoptor:</label>
                <input type="text" name="GermanPetCategory" class="form-control" id="formGroupExampleInput2" placeholder="Category Of Pet">
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput2">Phone number:</label>
                <input type="text" name="GermanPetColor" class="form-control" id="formGroupExampleInput2" placeholder="Color Of Pet">
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput2">pet id:</label>
                <input type="text" name="GermanPetColor" class="form-control" id="formGroupExampleInput2" placeholder="Color Of Pet">
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput2">pet price:</label>
                <input type="text" name="GermanPetColor" class="form-control" id="formGroupExampleInput2" placeholder="Color Of Pet">
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput2">Enter Your Bank:</label>
                <input type="text" name="GermanPetColor" class="form-control" id="formGroupExampleInput2" placeholder="Color Of Pet">
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput2">Enter Your Card Number:</label>
                <input type="text" name="GermanPetColor" class="form-control" id="formGroupExampleInput2" placeholder="Color Of Pet">
            </div>
            <button type="submit" class="btn btn-primary">Proceed With Adoption</button>
        </form>
    </div>
</div>
{{> footer}}