{{> header}}
<div id="adminUpload">
    <div class="container" id="cont">
        {{#if err}}
            <div class="row">
                {{#each err}}
                    <div class="col-md-12">
                        <div class="alert alert-warning" role="alert">
                          {{this.msg}}  
                        </div>
                    </div>
                {{/each}}
            </div>
        {{/if}}
        {{#if success_msg}}
            <div class="row">
                <div class="col-12">
                    <div class="alert alert-success" role="alert">
                        {{success_msg}}
                    </div>
                </div>
            </div>
        {{/if}}
        <h4>Adopt Your German Pets</h4>
        <form method="POST" action="/user/germanForm">
            <div class="form-group">
                <label for="formGroupExampleInput">Name of adoptor:</label>
                <input type="text" name="nameOfAdoptor" class="form-control" id="formGroupExampleInput" placeholder="Name Of Pet">
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput2">Pet Color:</label>
                <input type="text" name="petColor" class="form-control" id="formGroupExampleInput2" placeholder="Price Of Pet">
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput2">Name of pet:</label>
                <input type="text" name="nameOfPet" class="form-control" id="formGroupExampleInput2" placeholder="Price Of Pet">
            </div>
            <div class="form-group">
            <div class="form-group">
                <label for="formGroupExampleInput2">Email of Adoptor:</label>
                <input type="text" name="emailOfAdoptor" class="form-control" id="formGroupExampleInput2" placeholder="Category Of Pet">
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput2">Phone number:</label>
                <input type="text" name="phoneNumber" class="form-control" id="formGroupExampleInput2" placeholder="Color Of Pet">
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput2">pet id:</label>
                <input type="text" name="petID" class="form-control" id="formGroupExampleInput2" placeholder="Color Of Pet">
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput2">pet price:</label>
                <input type="text" name="petPrice" class="form-control" id="formGroupExampleInput2" placeholder="Color Of Pet">
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput2">Enter Your Bank:</label>
                <input type="text" name="enterYourBank" class="form-control" id="formGroupExampleInput2" placeholder="Color Of Pet">
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput2">Enter Your Card Number:</label>
                <input type="text" name="enterYourCardNumber" class="form-control" id="formGroupExampleInput2" placeholder="Color Of Pet">
            </div>
            <button type="submit" class="btn btn-primary">Proceed With Adoption</button>
        </form>
    </div>
</div>
{{> footer}}