*{
    padding : 0px;
    margin: 0px;
}
.navbar{
    background-color:white;
   /*background-color: #a7b018;*/
    border-bottom: 1.4px solid white;
    box-shadow: 0 0 3px 4px rgb(0.1,0.2,0,0.3);
    padding: 0px 0px 0px 0px;
}

.collapse{
    padding-right : 40px;
    padding-top : 10px;
    padding-bottom : 8px  
} 

.collapse .nav-item{
    padding-left: 20px;
}

.collapse .nav-item .nav-link{
    font-family:'Rajdhani','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    color:blue; 
}

.navbar-nav span{
    padding-right: 10px;
}

.navbar-nav .nav-item .fas,.fab{
    color:rgb(125, 141, 170);
}
.social a {
    font-size: 4em;
    padding: 3rem;
}
#format{
    padding-top : 49px;
    padding-bottom: 55px;
}
.fa-facebook{
    color:#3b5998;
    font-size: 0.6em;
}
.fa-twitter{
     color: 00aced;
     font-size:0.6em;
}
.fa-google-plus-g{
    color: #dd4b39;
    font-size:0.6em;
}
.fa-instagram{
    color: #517fa4;
    font-size:0.6em;
}
.fa-youtube{
    color:#bb0000;
    font-size:0.6em;
}
.fa-facebook:hover,
.fa-twitter:hover,
.fa-google-plus-g:hover,
.fa-instagram:hover,
.fa-youtube:hover{
        color: #d5d5d5;
}
footer{
    background-color:#3f3f3f;
    color: #d5d5d5;
    padding-top: 2rem;
}
hr.light{
    border-top: 1px solid #d5d5d5;
    width:100%;
    margin-top:.8rem;
    margin-bottom: 1rem;
}
footer a {
    color: #d5d5d5;
}
hr.light-100{
    border-top: 1px solid #d5d5d5;
    width:100%;
    margin-top:.8rem;
    margin-bottom: 1rem;
}
.col-12 .get{
    margin-top: 29px;
}




